@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap');

body {
  background-color: #FF8C87;
  color: white;
}

h1 {
  text-align: center;
  color: #BEFF87;
  font-family: 'Bellota Text', bold;
  font-size: 60px;
}

h2 {
  text-align: center;
  color: #BEFF87;
  font-family: 'Bellota Text', bold;
  font-size: 45px;
}

.cssSignUp {
  text-align: center;
}

.cssSignIn {
  text-align: center;
}

.cssSignOut {
  position: fixed; /* Fixed/sticky position */
  right: 30px; /* Place the button 30px from the right */
  bottom: 879px;
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.cssChangePass {
  position: fixed; /* Fixed/sticky position */
  right: 30px; /* Place the button 30px from the right */
  bottom: 800px;
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.cssNewGame {
  position: fixed; /* Fixed/sticky position */
  left: 30px; /* Place the button 30px from the right */
  bottom: 879px;
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.cssNewGame:hover span {
  padding-left: 25px;
}

.box {
  font-family: 'Bellota Text', bold;
  width: 200px;
  height: 200px;
  border: 3px solid #BEFF87;
  cursor: pointer;
  line-height: 100px;
  font-size: 150px;
  text-align: center;
}

.container {
  grid-display: center;
}
