@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap');

body {
  background-color: #FF8C87;
  color: white;
}

h1 {
  text-align: center;
  color: #BEFF87;
  font-family: 'Bellota Text', bold;
  font-size: 60px;
}

h2 {
  text-align: center;
  color: #BEFF87;
  font-family: 'Bellota Text', bold;
  font-size: 45px;
}

.cssSignUp {
  text-align: center;
}

.cssSignIn {
  text-align: center;
}

.cssSignOut {
  position: fixed; /* Fixed/sticky position */
  right: 30px; /* Place the button 30px from the right */
  bottom: 879px;
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.cssChangePass {
  position: fixed;
  right: 30px;
  bottom: 800px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  transition: all ease-in-out 0.2s;
}

.cssChangePass:hover{
  border: 1px solid #888;
    background-color: #ddd;
}

.cssNewGame {
  position: fixed; /* Fixed/sticky position */
  left: 30px; /* Place the button 30px from the right */
  bottom: 879px;
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}


.box {
  font-family: 'Bellota Text', bold;
  border: 3px solid #BEFF87;
  cursor: pointer;
  width: 134px;
    height: 134px;
    display: block;
    color: #EAEAEA;
    font-size: 6.3em;
    padding: 1px 27px;
}

.container {
  background-color: transparent;
  margin: 50px auto;
}

.winnerOSuccess {
  color: #BEFF87;
  font-family: 'Bellota Text', bold;
  font-size: 20px;
  text-align: center;

}

.winnerXSuccess {
  color: #BEFF87;
  font-family: 'Bellota Text', bold;
  font-size: 20px;
  text-align: center;
}

.gameDraw {
  color: #BEFF87;
  font-family: 'Bellota Text', bold;
  font-size: 20px;
  text-align: center;
}
